# Python
/.env
__pycache__/
*.egg
*.egg-info/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/
.env/
.virtualenv/


# Build and Distribution
build/
dist/
*.whl
# Test and Coverage
.coverage
*.cover

# Documentation
docs/_build/

# Logs
*.log
/logs/

# Data
data/

# Configuration
config.yaml
config.json

# Temporary files
*.tmp
*.temp

# Backup files
*.bak

# Jupyter Notebooks
.ipynb_checkpoints/
/jupyter_notes
.ipynb

# OS / Editor
*.swp
.vscode/
.idea/
.DS_Store